<h1 class="text-primary" style="text-align: center">Vuelos de:</h1>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
        <tr mdbTableCol *ngFor="let fly of flights">
            <th >{{fly.id}}</th>
            <th >{{fly.identification}}</th>
            <td>{{fly.date}}</td>
            <td>{{fly.hour}}</td>
            <td>{{fly.origin}}</td>
            <td>{{fly.destiny}}</td>
            <td>{{fly.price}}</td>
          </tr>
    </tbody>
  </table>
